<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>KOSMO - Multi Purpose Bootstrap 4 Admin Template</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/vendor.min.css" rel="stylesheet" />


   
</head>
<!-- END HEAD -->

<body>
    <br /><br />
    <a href="@Url.Action("Index","Employee")">Employee  </a>
    <a href="@Url.Action("Index","Department")">Department  </a>
    <a href="@Url.Action("Index","Job")">Jobs  </a>
    <a href="@Url.Action("Index","JobsHistory")">JobHistory  </a>
    <br />
    <div class="container">
        @RenderBody()
    </div>



    @RenderSection("Scripts", required: false)

    <script src="~/vendor.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
</body>
</html>
