@model ImadErp.Model.JobHistory

@{
    ViewData["Title"] = "delete";
}

<h2>delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JobHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hire_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hire_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.End_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departments.DepartmentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jobs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.JobId)
        </dd>
    </dl>
    
    <form asp-action="delete">
        <input type="hidden" asp-for="JobHistoryId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
